@import 'tailwindcss';

:root {
  --background: #e3eaf7;
  --text-primary: #162132;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
}

body {
  background: var(--background);
  color: var(--text-primary);
}
